* {
    box-sizing: border-box;
    margin: 0px;
    /*border: 1px solid red;*/
}

html,
body {
    height: 100%;
}

body {
    color: #000814;
    background-color: #F5F5F5;
    margin: 0px;
    position: relative;
    font-family: sans-serif;
    line-height: 2em;
}

.flex-1 {
    margin: auto;
    text-align: center;
    line-height: 0;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.none {
    display: none;
}

/***************************HEADER************************/

header {
    position: sticky;
    top: 0px;
    background-color: #007BE0;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

nav {
    display: flex;
}

svg {
    height: 30px;
    color: white;
}

.icone {
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 5px;
    border-radius: 50%;
}

.icone:hover {
    background-color: rgb(255, 255, 255, 0.1);
    transform: scale(1.0);
    transition: 0.4s;
}

.hamburger {
    display: none;
    position: relative;
    left: -10px;
}

/**********************************ACCUEIL*******************************************/

.accueil {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.left-column,
.middle-column,
.right-column {
    margin: 0px 20px;
}



.right-column {
    width: 200px;
}

.border {
    border-left: 1px solid #D6D6D6;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

input,
textarea {
    width: 100%;
    background-color: rgb(255, 255, 255, 0.8);
    /*border: 0px solid red;
    */
    /*border-radius: 10px;*/
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;*/
    padding: 10px;
    border-radius: 20px;
    border: 0px solid black;
    margin: 2px;
}

a {
    color: black;
}


.profile-card {
    max-width: 400px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 10px 0px;
}




.container {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}

.blog-article {
    padding: 20px;
    margin: 10px 0px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #D6D6D6;
    position: relative;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

.blog-article:nth-child(odd) {
    background-color: #FFFFFF;
}

.edit-article {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

.edit-article svg {
    color: black;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.edit-article svg:hover {
    background-color: rgba(20, 33, 61, 0.1);
    transition: 0.5s;
    transform: scale(1.2);
}

.form-new-article {
    max-width: 700px;
    color: white;
    display: flex;
    padding: 20px;
    margin: 10px auto;
    background-color: #14213D;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}

.friends-list {
    border-radius: 20px;
    border: 1px solid #D6D6D6;
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column-reverse;
}

.firend-card {
    position: relative;
    top: 0px;
    padding: 1px 10px;
    margin: 10px 0px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #D6D6D6;
    transition: 0.5s;
    cursor: pointer;
}

.friends-list a {
    text-decoration: none;
}

.firend-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
    top: -5px;

}


/************************************MESSAGES********************************/

.chat-card {
    max-width: 800px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px inset;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 10px auto;
}

.left-column .chat-card {
    max-width: 400px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px inset;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 10px 0px;
}



.message-area {
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    padding: 10px 0px;
    margin: 10px 0px;
    max-height: 600px;
    overflow: auto;
}

.left-column .message-area {
    max-height: 400px;
}

.message-area::-webkit-scrollbar {
    display: none;
}

.message-me {
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    margin-left: 10%;
    background-color: #c2deff;
}

.message-you {
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    margin-right: 10%;
    background-color: #f5f5f5;
}

.bot {
    background-color: #ffadad;
}

.message-you .psedo {
    opacity: 0.8;
    font-style: italic;
    line-height: 0.7;
    font-weight: bold;
}

.message-you .time,
.message-me .time {
    opacity: 0.5;
    font-style: italic;
    text-align: right;
    font-size: 0.7em;
    line-height: 0.5;
}


/*****************************************AUTENTIFICATION********************************************/

.id-form {
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.id-form input {
    border: 1px solid #D6D6D6;
}



/***************************** INPUTS ********************************/

.modify-input input {
    border: 2px solid #1D7BE0;
}

.input-btn-1 input {
    background-color: #14213D;
    width: auto;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

.input-btn-1 input:hover {
    opacity: 1;
    transition: 0.5s;
}

/******************************* PROFIL *******************************/

.profile-page {
    max-width: 800px;
    padding: 20px;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    margin: 40px auto;
    border-radius: 20px;
    border: 1px solid #D6D6D6;
}

.profile-article {
    position: relative;
}

.profile-article svg {
    position: absolute;
    top: 0px;
    right: 0px;
}

/*******************************NOTIFICATION*****************************/

.not-1 {
    opacity: 0;
    background-color: white;
    animation: out-1 5s normal;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px;
    position: absolute;
    margin: auto;
    top: 100px;
    left: 10px;
}

@keyframes out-1 {
    5% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;

    }
}

/************************footer*********************/

@media screen and (max-width: 900px) {

    .right-column {
        display: none;
    }

}



@media screen and (max-width: 700px) {
    .left-column,
    .right-column,
    #welcome {
        display: none;
    }

    .on {
        display: inline;
    }

    .middle-column {
        margin: 0px 5px;
    }
    /*header {*/
    /*    padding-left: 0px;*/
    /*}*/
    .hamburger {
        display: inline;
    }

    .left-column,
    .middle-column,
    .right-column {
        margin: 0px 0px;
    }

    .profile-card,
    .border {
        display: none;
    }

    .chat-card {
        max-width: 100%;
    }

    .message-area {

        max-height: 100%;

    }

}
